<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SOSync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SOSync.Properties.Settings.BaanConnectionString" connectionString="Provider=MSDAORA;Data Source=&quot;(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = baan)(PORT = 1521)))(CONNECT_DATA = (SERVICE_NAME = BAAN)))&quot;;Persist Security Info=True;Password=baan;User ID=baan"
            providerName="System.Data.OleDb" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
        <SOSync.Properties.Settings>
            <setting name="CompanyList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>100</string>
                        <string>200</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="CRMURL" serializeAs="String">
                <value>http://192.168.11.20/AMT/XRMServices/2011/Organization.svc</value>
            </setting>
            <setting name="CRMUSerName" serializeAs="String">
                <value>crmadmin</value>
            </setting>
            <setting name="CRMPassword" serializeAs="String">
                <value>CRMP@ssw0rd</value>
            </setting>
            <setting name="CRMDomain" serializeAs="String">
                <value>alliedmetals</value>
            </setting>
            <setting name="BaanDBDataSource" serializeAs="String">
                <value>baan</value>
            </setting>
            <setting name="BaanDBUser" serializeAs="String">
                <value>baan</value>
            </setting>
            <setting name="BaanDBPassword" serializeAs="String">
                <value>baan</value>
            </setting>
            <setting name="QueryYear" serializeAs="String">
                <value>2008</value>
            </setting>
            <setting name="SampleQuery" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimerIntervalSec" serializeAs="String">
                <value>1800</value>
            </setting>
        </SOSync.Properties.Settings>
    </applicationSettings>
</configuration>
